<h2>Livros</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/new']">
    Novo Livro
</button>

<section>
    <div *ngIf="books.length == 0" class="alert alert-warning" role="alert">
        Nenhum livro foi cadastrado ainda.
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Ano Publicação</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>
          {{ book.titulo }}
        </td>
        <td>{{ book.autor }}</td>
        <td>{{ book.anoPublicacao }}</td>
      </tr>
      </tbody>
    </table>
</section>
